<nb-card>
  <nb-card-header>Reviews</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="example-container col-sm-12 ">
         
         
        <div class="col-lg-12">
           
            <div class="container-title">
                <span><h2>Nombre De Empresa Que Quiere el review </h2></span>
              </div>
              <h4>Enlace De Yelp De La Empressa &nbsp;&nbsp;&nbsp; 0.00057 BTC &nbsp;&nbsp; <button>Begin Review</button></h4>    
          
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
